<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kvíz admin felület</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Válaszok</h1>
        <form action="addrecord" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Kérdés:</label>
                <input name="question" type="text" required>
            </div>
            <div class="form-group">
                <label>Add meg a helyes választ!</label>
                <input name="correct" type="text" required>
            </div>
            <div class="form-group">
                <label>Add meg a hibás válaszokat!</label>
                <input name="wrong1" type="text" required>
                <input name="wrong2" type="text" required>
                <input name="wrong3" type="text" required>
            </div>
            <p align="center">
                <input type="submit" class="add-link" value="Hozzáadás">
            </p>
        </form>
    </div>
</body>
</html>